@import "styles/variables.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: 200;

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $black-translucent;
    z-index: 1 !important;
  }

  & > div {
    z-index: 5;
    position: relative;
  }
}
