$black: #000;
$white: #fff;

// $bg-primary: rgb(244, 151, 37);
$bg-primary: rgb(37, 140, 244);
$bg-light-gray: #f8f9fb;
$bg-medium-gray: #e8ebf3;
$bg-dark: #191e22;
$bg-red: #e64724;
$bg-green: #1ccb12;
$bg-dark-green: #109e0d;
$bg-yellow: #f3e11f;
$bg-bluish-white: rgb(246, 251, 255);
$bg-black-translucent: rgba(0, 0, 0, 0.7);
$bg-gradient-primary: linear-gradient(302deg, #258cf4, #25f4f4);

$text-primary: #258cf4;
$text-secondary: #525c67;
$text-tertiary: #808080;
$text-dark: #191e22;
$text-red: #e64724;
$text-green: #1ccb12;
$text-dark-green: #109e0d;
$text-orange: #ea9f27;
$text-gradient-primary: linear-gradient(353deg, #25eef4, #258cf4, #25f4f4);

$light-blue: #a2cefa;
$light-green: #cef2d9;
$light-yellow: #ecebd1;
$light-orange: #fdecde;
$light-pink: #fdd9e7;
$light-purple: #fccbf5;
$light-voilet: #cec4e5;

// srcapper colors
$general-shade: #fff6ea;
$fashion-shade: #d7f6f2;
$electronics-shade: #ffeaf4;
$custom-shade: #ffdfdf;
$flipkart-shade: #fff9d4;
$tatacliq-shade: #ffdfdf;
$meesho-shade: #fff5fa;
$ajio-shade: #e6ebef;
$myntra-shade: #ff9fb6;
$croma-shade: #d7f6f2;
$reliance-shade: #e4e4ff;
$shopclues-shade: #dfeaec;
$snapdeal-shade: #fee7e6;
$nykaa-shade: #ffeaf4;
