@import "variables.scss";

.header {
  text-align: center;
  margin: 10px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 26px;
  color: $text-secondary;
}

.mainContainer {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  .genderSelectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 40px;

    a:nth-child(2) {
      & > div {
        background-color: $light-pink !important;
      }
    }

    .genderCard {
      min-width: 165px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      gap: 15px;
      background-color: $light-yellow;
      padding: 20px 10px;
      border-radius: 20px;

      .imageBox {
        border-radius: 50%;
        border: 1px solid $white;
        height: 120px;
        width: 120px;
        img {
          border-radius: 50%;
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
      }

      p {
        max-width: 165px;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        color: #191e22;
      }
    }
  }
}
