@import "variables";

.container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  border-bottom: 1px solid $bg-medium-gray;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.05);

  .logo {
    display: flex;
    align-items: flex-end;

    img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }

    p {
      font-size: 1.9rem;
      font-weight: bold;
      color: transparent;
      background: linear-gradient(353deg, #25eef4, #258cf4, #25f4f4);
      background-clip: text;
      font-family: inherit;
      transform: translate(-3px, 1px);
      line-height: 31px;
    }
  }
}
